body {
    background-color: black;
    text-align: center;
}
.header-main{
    color: white;
    text-align: center;
    font-size:50px;
    font-weight: normal;
    font-family: verdana;
}
.top-lnk{
    color: aquamarine;
    font-size: 16px;
}

.top-vid{
    center  

}

.header-mid{
    color: white;
    font-size:42px;
    font-weight: 300;
    font-family:verdana;
}

.header-mid2{
    font-family: verdana;
    font-size:21px;
    color: gray;
}

.foot-header{
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 38px;
}

.foot-lnk{
    color: aquamarine;
    font-size: 16px;
}

.footer--copyright{
    text-align: right;
    color: gray;
    font-size: 21px;
}